<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpHandlers>
      <add verb="GET" path="Colors/*.png" type="PngHandler" />
      <add verb="GET" path="*.config" type="StaticFileHandler2" />
    </httpHandlers>
  </system.web>
</configuration>
