<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="TextHandler" verb="GET" path="*.txt" type="TextHandler"/>
      <add name="PngHandler" verb="GET" path="Colors/*.png" type="PngHandler"/>
      <add name="Static-css" verb="GET" path="*.css" type="StaticFileHandler2"/>
      <add name="Static-config" verb="GET" path="*.config" type="StaticFileHandler2"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
