<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="GET" path="*.txt" type="TextHandler" />
      <add verb="GET" path="Colors/*.png" type="PngHandler" />
      <add verb="GET" path="*.config" type="StaticFileHandler2" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="TextHandler" verb="GET" path="*.txt" type="TextHandler"/>
      <add name="PngHandler" verb="GET" path="Colors/*.png" type="PngHandler"/>
      <add name="StaticFileHandler2" verb="GET" path="*.config" type="StaticFileHandler2"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
